@mixin box-content{
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@mixin box-sizing{ 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin vertical_align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin translateY($value...){
  -webkit-transform: translateY($value);
  -ms-transform: translateY($value);
  -o-transform: translateY($value);
  transform: translateY($value);
}

@mixin box-shadow($value...){
  -webkit-box-shadow: $value;
  box-shadow: $value;
}

@mixin translate($value...){
  -webkit-transform: translate($value);
  -ms-transform: translate($value);
  -o-transform: translate($value);
  transform: translate($value);
}


@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin trans-delay($value...){
  -webkit-transition-delay: $value;
  -o-transition-delay: $value;
  transition-delay: $value;
}

@mixin rotate($value...){
  -webkit-transform: rotate($value);
  -ms-transform: rotate($value);
  -o-transform: rotate($value);
  transform: rotate($value);
}


@mixin scale($value...){
  -webkit-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
  transform: scale($value);  
}


 
 @mixin opacity($valor...){
  -webkit-opacity: $valor;
  -moz-opacity: $valor;
  -ms-opacity: $valor;
  -o-opacity: $valor;
  opacity: $valor;
  filter:alpha(opacity=$valor);
 }
 
 