///*------------------------------------*\
//    #PAGE - BANNER
//\*------------------------------------*/




.banner{
	position: relative;
	float: left;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 60px;
	overflow: hidden;
}


.banner-title--holder{
	float: left;
	width: 100%;
	height: 270px;
	text-align: center;

	hgroup{
		@include vertical_align;
		position: relative;
		display: inline-block;
		z-index: 2;
		text-shadow: 0px 0px 0.3px black;
		color: white;
		text-align: center;
		font:{
			family: $lato-font;
			weight: $regular;
		}

		h1{
			font-size:$fs-30px;
			margin-bottom: 10px;
			span{
				text-transform: uppercase;
			}
		}
		h2{
			width: 630px;
			margin:0 auto;
			font:{
				size:$fs-18px;
				weight: $light;
			}
		}

		&:before{
			content: '';
			position: absolute;
			top: 40px;
			left: 0;
			width: 100%;
			height: 0;
			box-shadow: 0 0 130px 40px rgba(0,0,0,0.4);
			z-index: -1;
		}
	}
}














